.input {
   display: block;
   background-color: #151A2D;
   border: 1px solid #384162;
   width: 100%;
   
}

.smInput {
   height: 48px;
   padding: 14px 14px 14px 14px;
}

.lgInput {
   height: 58px;
   padding: 14px 14px 24px 14px;
}