:root {
   --color-secondary: #FF8811;
   --bg-color-primary: #1b2037;
   --bg-color-secondary: #0E1223;
   --text-color-primary: #ffffff;
   --text-color-secondary: #8791B7;
   --border-color: #384162;
   --input-color: #151A2D;
}

[data-theme="light"] {
   --color-secondary: #FF8811;
   --bg-color-primary: #FAFAFA;
   --bg-color-secondary: #FFFFFF;
   --text-color-primary: #1B2037;
   --text-color-secondary: #667085;
   --border-color: #E0E2E7;
   --input-color: #ffffff;
}

body {
   font-family: "Inter", sans-serif;
   font-weight: 500;
   font-size: 18px;
   color: var(--text-color-primary);
   background-color: var(--bg-color-primary);
   height: 100%;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   width: 100%;
   padding: 0 20px;
   box-sizing: border-box;
}

@media (max-width: 768px) {
   .container {
      padding: 0 10px;
   }
}
