.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1;
   margin: 24px 0 26px 0;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
}
