.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;  
}

.container {
   display: flex;
   align-items: center;
}

.formHeader {
   width: 221px;
   margin: 0 auto;
}

.formHeader p {
   display: inline-block;
   line-height: 20px;
   font-weight: 400;
   font-size: 14px;
}

.formHeader h1 {
   display: inline-block;
   line-height: 28px;
   font-weight: 600;
}

.content {
   box-sizing: border-box;
   width: 375px;
   max-width: 100%;
   height: 374px;
   padding: 0 24px;
   text-align: center;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 24px;
   align-items: center;
}

.formContainer {
   margin-bottom: 24px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   align-items: center;
}

.formFooter {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.formFooterSignIn {
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
}

.formFooterSignIn span {
   text-decoration: underline;
}
